.message{
    padding:3px;
    list-style: none;
    border: 2px solid black;
    width:95%;

}
.space{
    list-style: none;
    padding:2%;
}
.extra{
    color:#2F4F4F;
    font-family:Courier;
}
#UI{
    color:white;
    background-color:#0080ff;
    border:none;
    margin:0px;
    width: 100%;
    height: 100%;
    padding:2px;
}
#text{
    width: 80%;
    height:20%;
}
footer{
    padding:0px;
}
.btn2{
    background-color: #ff1919;
    border: none;
    color: white;
    padding: 7px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
html{
    margin:0px;
}
h3{
    height: 2px;
}
