html{
    padding-left:5%;
}
body {
    display: flex !important;
    flex-direction: column !important;
    font-family: sans-serif !important;
}
.grid-container {
    columns: 5 250px !important;
    column-gap: 1.5rem !important;
    width: 90% !important;
    margin: 0 auto !important;
}
.gallery {
    width: 250px !important;
    margin: 0 1.5rem 1.5rem 0 !important;
    display: inline-block !important;
    padding: 5px !important;
    border-radius: 5px !important;
    transition: all .25s ease-in-out !important;
}
img {
    width: 100% !important;
    border-radius: 5px !important;
    transition: all .25s ease-in-out !important;
}
p {
    margin: 5px 0 !important;
    padding: 0 !important;
    text-align: center !important;
    font-style: italic !important;
}
