#btn{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
    border: 1px solid white;
}
#btn:hover {
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
#formarea{
    margin-right: 5%;
    margin-left:5%;
}
#results{
    border-style: solid;
    border-color: #c82333;
    background-color: #e4606d;
    padding-bottom: 30px;
}
#ule {
    list-style: none;
    padding: 10px;
}
#cr{
    height:70px;
    padding: 10px;
    float:left;
}
.note{
    padding:10px;
    font-size: 20px;
    padding-bottom:5px;
}
.extra{
    font-size: 10px;
    color:dimgrey;
}
#extra2:link,#extra2:visited,#extra2:hover,#extra2:active{
    text-decoration: none;
    font-size: 15px;
    color:dodgerblue;
}
#gap{
    padding:5%;
}
