#btn{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
}
#btn:hover {
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
.container{
    padding-top:7%;
}
#description{
    height: 250px !important;
}
.ql-editor{
    height: 90% !important;
}
.ql-container.ql-snow {
    border: 1px solid rgba(0,0,0,0.3) !important;
}
.ql-toolbar.ql-snow{
    border-top: 1px solid rgba(0,0,0,0.3) !important;
    border-right:1px solid rgba(0,0,0,0.3) !important;
    border-left: 1px solid rgba(0,0,0,0.3) !important;
}

#description{
    border-radius: 0px 0px 5px 5px !important;
    border-top: 1px solid rgba(0,0,0,0.3) !important;
}

.ql-toolbar{
    border-radius: 5px 5px 0px 0px !important;
    border-bottom: 0px solid rgba(0,0,0,0.3) !important;
}

#dropzone, .jumbotron{
    border-radius: 10px !important;
    border:none;
    background-color:#f4f3f3;
}

#extracom{
    color:dodgerblue;
    display: inline-block;
}


.dz-preview{
    background-color:#f4f3f3 !important;
}

.alert-warning{
    margin: 0px;
    border-radius: 0px;
}
